In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\issak\anaconda3\lib\site-packages (0.2.40)
Requirement already satisfied: pandas>=1.3.0 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (2.5.2)
Requirement already satisfied: pytz>=2022.5 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\issak\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\issak\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\issak\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\issak\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\issak\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\issak\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\issak\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\issak\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\issak\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)

In [1]:
import yfinance as yf
import pandas as pd 
import matplotlib.pyplot as plt 
import warnings
import seaborn as sns

#ignore all warning 

warnings.filterwarnings('ignore')

In [2]:
tickers = ['TSLA', 'BTC-USD', 'CL=F', 'DX-Y.NYB','^GSPC',"^IXIC",'NVDA', '^TNX','NG=F']
start_date = '2018-01-01'
end_date = '2024-11-06'
data = yf.download(tickers, start = start_date, end = end_date, group_by = tickers)
data.head()

[*********************100%***********************]  9 of 9 completed

Ticker            ^GSPC                                                       \
Price              Open         High          Low        Close        Volume
Date
2018-01-01          NaN          NaN          NaN          NaN           NaN
2018-01-02  2683.729980  2695.889893  2682.360107  2695.810059  3.397430e+09
2018-01-03  2697.850098  2714.370117  2697.770020  2713.060059  3.544030e+09
2018-01-04  2719.310059  2729.290039  2719.070068  2723.989990  3.697340e+09
2018-01-05  2731.330078  2743.449951  2727.919922  2743.149902  3.239280e+09

Ticker       ^TNX                              ...       TSLA             \
Price        Open   High    Low  Close Volume  ...       Open       High
Date                                           ...
2018-01-01    NaN    NaN    NaN    NaN    NaN  ...        NaN        NaN
2018-01-02  2.433  2.480  2.425  2.465    0.0  ...  20.799999  21.474001
2018-01-03  2.451  2.465  2.440  2.447    0.0  ...  21.400000  21.683332
2018-01-04  2.473  2.487  2.449  2.453    0.0  ...  20.858000  21.236668
2018-01-05  2.465  2.480  2.436  2.476    0.0  ...  21.108000  21.149332

Ticker                                             NVDA                      \
Price             Low      Close       Volume      Open      High       Low
Date
2018-01-01        NaN        NaN          NaN       NaN       NaN       NaN
2018-01-02  20.733334  21.368668   65283000.0  4.841596  4.933591  4.809942
2018-01-03  21.036667  21.150000   67822500.0  5.047348  5.284754  5.038692
2018-01-04  20.378668  20.974667  149194500.0  5.335697  5.392328  5.259776
2018-01-05  20.799999  21.105333   68868000.0  5.296872  5.364136  5.219962

Ticker
Price          Close       Volume
Date
2018-01-01       NaN          NaN
2018-01-02  4.929881  355616000.0
2018-01-03  5.254336  914704000.0
2018-01-04  5.282033  583268000.0
2018-01-05  5.326795  580124000.0

[5 rows x 45 columns]

In [26]:
df = data.xs('Adj Close', level=1, axis= 1)

df.head()

Ticker,BTC-USD,^IXIC,^TNX,TSLA,NG=F,^GSPC,DX-Y.NYB,NVDA,CL=F
Date,,,,,,,,,
2018-01-01,13657.200195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02,14982.099609,7006.899902,2.465,21.368668,3.056,2695.810059,91.849998,4.930221,60.369999
2018-01-03,15201.000000,7065.529785,2.447,21.150000,3.008,2713.060059,92.160004,5.254696,61.630001
2018-01-04,15599.200195,7077.910156,2.453,20.974667,2.880,2723.989990,91.849998,5.282396,62.009998
2018-01-05,17429.500000,7136.560059,2.476,21.105333,2.795,2743.149902,91.949997,5.327161,61.439999

In [25]:
return = 100*df.pct_change().dropna()

SyntaxError: invalid syntax (387886361.py, line 1)